.errorMessage,
.apikeyCard,
.infoPanel {
  margin: 1rem 3rem 0 3rem;
}

.spinner {
  margin-top: 1rem;
  margin-left: 3rem;
}

.apikeyCard {
  h2 {
    margin-bottom: 0.5rem;
  }

  p > svg {
    margin-right: 0.5rem;
  }
  p.typo-feilmelding,
  p.typo-normal {
    margin-left: 1.5rem;
  }
}

.newKeyButton {
  text-align: right;
}

.confirmButton {
  margin-top: 1.5rem;
}

.aad {
  margin-top: 0.5rem;
}

.confirmationDialog {
  padding-right: 50px;

  h2 {
    padding-bottom: 0.5rem;
  }
}

.apiKeys {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 992px) {
  .apiKeys {
    grid-template-columns: repeat(2, 1fr);
  }
}
